body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: darkslategrey;
  font-family: "Pirata One", serif;
  position: relative;
  z-index: 1;
  background-image: url("/assets/cards/starsbg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.game-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90vh;
  cursor: pointer;
}

.card-emplacement-game-zone {
  position: relative;
}

.card-emplacement-limit-zone {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card-emplacement-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 520px;
  height: 240px;
}

.card-emplacement {
  width: 145px;
  height: 175px;
  border: 2px solid black;
  border-radius: 5px;
  background-image: url("/assets/cards/frameCardBg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emplacement-bot {
  border: 3px solid black;
  background: rgb(17, 62, 92);
  width: 120px;
  height: 150px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emplacement-player {
  width: 120px;
  height: 150px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.emplacement-player:hover {
  background-color: rgba(65, 192, 26, 0.7);
}

.available {
  background-color: rgba(65, 192, 26, 0.7);
}

.emplacement-player-img {
  height: 150px;
  width: 54px;
  opacity: 0.5;
  pointer-events: none;
}

.emplacement-result {
  position: relative;
  z-index: 5;
}

.result {
  position: relative;
  width: 122px;
  z-index: 6;
  top: 50px;
  border-radius: 10px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.result-case {
  width: 20px;
  height: 30px;
  border: 5px solid black;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 1px 1px black;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: "Micro 5", serif;
}

.infos-results-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
}
.infos-results-container .info-result {
  width: 20px;
  height: 12px;
  border: 5px solid black;
  text-align: center;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 1px 1px black;
  background-color: rgba(0, 0, 0, 0.576);
  font-family: "Spicy Rice", serif;
}

.player-red-1,
.player-red-2,
.player-red-3,
.bot-red-1,
.bot-red-2,
.bot-red-3 {
  background: rgba(148, 43, 43, 0.882);
  color: whitesmoke;
  font-size: 60px;
}

.player-blue-1,
.player-blue-2,
.player-blue-3,
.bot-blue-1,
.bot-blue-2,
.bot-blue-3 {
  color: rgba(32, 81, 165, 0.919);
  color: whitesmoke;
  font-size: 60px;
}

.player-yellow-1,
.player-yellow-2,
.player-yellow-3,
.bot-yellow-1,
.bot-yellow-2,
.bot-yellow-3 {
  color: rgba(246, 228, 70, 0.824);
  color: whitesmoke;
  font-size: 60px;
}

.hand-card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hand-card {
  width: 120px;
  height: 150px;
  margin: 5px;
  border-radius: 5px;
  position: relative;
}

.hand-card-img {
  width: 120px;
  border-radius: 5px;
  transition: transform 0.6s ease;
}

.chosen {
  border: 1px solid red;
}

.cardBack {
  position: absolute;
  top: 80px;
  width: 116px;
  height: 150px;
  border: 3px solid black;
  background: rgb(92, 17, 17);
  border-radius: 5px;
  background-image: url("/assets/cards/testCardBg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.card-deck {
  width: 120px;
  height: 180px;
  position: absolute;
  bottom: 20%;
  right: -180px;
}

.deck {
  width: 120px;
  height: 160px;
  border: 3px solid black;
  background: rgb(92, 17, 17);
  border-radius: 5px;
  background-image: url("/assets/cards/testCardBg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.deck-1 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.deck-2 {
  position: absolute;
  bottom: 5px;
  right: 0;
}

.deck-3 {
  position: absolute;
  bottom: 10px;
  right: 0;
}

.deck-4 {
  position: absolute;
  bottom: 15px;
  right: 0;
}

.deck-count {
  text-align: center;
  width: 124px;
  position: absolute;
  bottom: -35px;
  right: 0;
  color: whitesmoke;
  font-size: 18px;
}

.card-deck-tomb {
  width: 120px;
  height: 180px;
  position: absolute;
  bottom: 20%;
  left: -180px;
  border: 3px solid black;
  background: rgb(92, 17, 17);
  border-radius: 5px;
}

.playedCard {
  transform: scale(1.07);
}

.playedCard-bot {
  transform: scale(1.07);
  transition: transform 0.33s ease;
}

.modal-game-rules-container {
  position: absolute;
  z-index: 10;
  width: 700px;
  height: 400px;
  background: black;
  border: 7px solid goldenrod;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-game-rules-container .modal-game-rules {
  width: 650px;
  height: 350px;
  background: blue;
  border: 7px solid goldenrod;
}

.left-screen-container {
  right: 0;
  height: 100vh;
  width: 250px;
  background: rgba(56, 55, 55, 0.633);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 5px solid black;
}

.right-screen-container {
  right: 0;
  height: 100vh;
  width: 250px;
  background: rgba(56, 55, 55, 0.633);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 5px solid black;
}

.avatar {
  width: 120px;
  height: 120px;
  border: 7px solid goldenrod;
  border-radius: 50%;
}

.pseudo {
  font-size: 40px;
  color: white;
  text-align: center;
}

.lifepoints-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.lifepoint .lifepoint-img {
  width: 50px;
}

.powerpoints-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.powerpoint .powerpoint-img {
  width: 50px;
}

.category {
  font-size: 25px;
  color: white;
  text-align: center;
  margin: 20px 0 10px 0;
}

.avatar-img {
  width: 120px;
  border-radius: 50%;
  background: rgba(199, 199, 199, 0.313);
}/*# sourceMappingURL=style.css.map */